header {
  background-color: #007BFF;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5cm;
}

.logo-barra {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-s {
  background: white;
  color: #007BFF;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  text-decoration: none;
}

.logo-texto {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.header-center {
  display: flex;
  align-items: center;
  color: white;
  padding-left: auto;
  text-align: center;
  flex-direction: column;
  margin-left: -7rem;
}

.header-center h1 {
  margin: 0;
  font-size: 1.5rem;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-bar {
  display: flex;
}

.search-bar input {
  padding: 6px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  padding: 1px 1px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: white;
  cursor: pointer;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 0;
  margin: 0.5rem 0 0 0;
}

header nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: rgb(200, 222, 241);
}

.admin-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gestao {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.gestao-utilizadores,
.configuracoes {
  border-radius: 8px;
  padding: 0.7rem 1.5rem;
  flex: 1rem;
  background-color: white;
}

.gestao-utilizadores h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.criar {
  background-color: #008CFF;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.configuracoes input,
.configuracoes textarea {
  display: flex;
  width: 80%;
  margin-bottom: 1rem;
  padding: 0.2rem;
}

.guardar {
  background-color: #008CFF;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.6rem;
  width: 20%;
  border-radius: 4px;
  margin-top: 1rem;
  margin-left: 40%;
  cursor: pointer;
}

.relatorios {
  border-radius: 8px;
  padding: 0.7rem 1.5rem;
  background-color: white;
  padding-bottom: 1rem;
  margin: 2rem;
  margin-top: 0rem;
}

.relatorios a {
  color: blue;
  font-weight: bold;
}

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  border: 1px solid black;
  padding: 0.75rem;
  text-align: center;
}

footer {
  background: #007BFF;
  color: white;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0rem;
  font-size: 0.9rem;
  border-top: 4px solid #0056b3;
  height: 1.5cm;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.popup-content h3 {
  margin-top: 0;
}

.popup-content input,
.popup-content select {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.popup-content .fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 1.5rem;
}

.mensagem {
  background-color: #f4f4f4;
  padding: 0.7rem;
  border-radius: 6px;
  margin-bottom: 0.8rem;
}