* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f5f5f5;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  background: #007bff;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
}

.logotipo {
  margin-right: auto;
  font-weight: bold;
}

.navbar input {
  padding: 5px;
}

.navbar button {
  padding: 5px 10px;
}

.navbar nav a {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #dce6f1;
  text-decoration: none;
  border-radius: 4px;
  color: black;
}

.navbar nav a:hover {
  background-color: #007bff;
  color: white;
}

main {
  padding: 20px;
}

.product-card {
    display: flex;
    gap: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .product-image img {
    width: 100%;
    object-fit: contain;
    max-height: 300px;
  }

  .stars {
    color: gold;
    font-size: 1.2rem;
    margin: 0.1rem 0;
  }

  .price {
    color:red;
  }

  .price-box p,
  .description-box p {
    margin: 0.1rem 0;
  }

  .price-box button {
    margin-top: 1rem;
    background: #007BFF;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .bottom-section {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 2rem auto;
    gap: 2rem;
  }

  .box {
    flex: 1;
    background: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .box h3 {
    margin-bottom: 1rem;
  }
.linha-rodape-total {
  height: 1px;
  background-color: gray;
  width: 100%;
  margin-top: 30px;
}

footer {
  background-color: #f5f5f5;
  color: black;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

.footer-links a {
  margin-right: 1rem;
  text-decoration: none;
  color: #008CFF;
}

.footer-links a:hover {
  color: #0056b3;
}

.social-icons a {
  margin: 0 0.5rem;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
}

.social-icons a:hover {
  color: #0056b3;
}
